/* Open Sans */
.osans {
  font-family: Open Sans;
}

.osans-bold {
  font-family: Open Sans;
  font-weight: bold;
}

.osans-lighter {
  font-family: Open Sans;
  font-weight: lighter;
}

/* Ubuntu */
.ubuntu {
  font-family: Ubuntu;
}

.ubuntu-bold {
  font-family: Ubuntu;
  font-weight: bold;
}

.ubuntu-lighter {
  font-family: Ubuntu;
  font-weight: lighter;
}

/* Roboto */
.roboto {
  font-family: Roboto;
}

.roboto-bold {
  font-family: Roboto;
  font-weight: bold;
}

.roboto-lighter {
  font-family: Roboto;
  font-weight: lighter;
}

/* Loader Animation -- Experimental */
.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: loading 2s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
